.fondo {
  background-position: center center;
  background-size: cover;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/fdgames2023.appspot.com/o/yulissa%2F81576c9da332353e20f2b7f4aab8e204.jpg?alt=media&token=6b6fe0c6-4ffa-44e0-bd0c-f58413e9672a");
  background-repeat: no-repeat;

  min-height: fit-content;
  max-height: fit-content;
  min-width: 390px;
  display: grid;
  grid-template-columns: 10%,repeat(4,20%) 10%;
  grid-template-rows: 18% 60% 12% 10%;
  grid-template-areas:
  'encabezado encabezado encabezado encabezado encabezado encabezado'
  'juego juego juego juego juego juego'
  'info info info info info info'
  'pie pie pie pie pie pie';
}
.encabezado {
  grid-area: 1 / 1 / 2 / 7;
  text-align: center;
}
.juego {
  grid-area: 2 / 1 / 3 / 7;
  text-align: center;
}
.info {
  grid-area: 3 / 1 / 4 / 7;
  text-align: center;
}
.pie {
  grid-area: 4 / 1 / 5 / 7;
  text-align: center;
  ;
}